*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-size:16px;
  /* color:rgb(50,50,50); */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(240,240,240);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(200,200,200);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(150,150,150);
}

.App {
  /* text-align: center; */
  min-height:100vh;
}

body{
  overflow-y:auto;
}

textarea{
  resize:none;
  border:1px solid rgb(150,150,150) !important;
}

input, select{
  border:1px solid rgb(150,150,150) !important;
}

table a, a{
  text-decoration: none;
}
code{
  background:rgb(240,240,240);
  padding:2px;
  font-size:14px;
}
.groupedInput{
  display:flex;
  align-items:center;
  justify-content: center;
  padding:0;
  border:1px solid rgb(150, 150, 150);
  border-radius:5px;
  overflow: hidden;
}
.groupedInput button{
  background:rgb(0, 110, 255);
  opacity:0.9;
  color:white;
  padding:5.5px 15px;
  cursor:pointer;
  height:100%;
  transition:opacity 0.5s;
}
.groupedInput button:hover{
  opacity:1;
}
.groupedInput > *{
  border:none !important;
}

#homepage{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#home-wrapper{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width:90vw;
  margin:auto;
}
#main-logo-wrapper{
  height:20vh;
}
#title-section{
  display:flex;
  flex-direction: column;
  height:60vh;
}
#title-section div{
  margin-bottom:auto;
}
#main-logo{
  margin-right:10px;
  border-radius:10px;
}
#main-desc .small-text{
  font-size: 40px;
  color:rgb(150,150,150);
}
#main-desc .large-text{
  font-size:60px;
  color:rgb(60, 130, 242);
}
#auth-section{
  width:350px;
  border-radius:10px;
  padding:10px;
  display:flex;
  flex-direction:column;
  align-items: center;
  align-self: center;
}

#login-wrapper, #register-wrapper{
  width:100%;
  padding:20px;
  background-color: rgb(245,245,245);
  border-radius:10px;
}

#login-wrapper *, #register-wrapper *{
  /* color:white !important; */
}

.auth-btns small{
  cursor:pointer;
}

#home-img{
  position:absolute;
  z-index:-10;
  width:60vw;
  top:40vh;
  left:43vw;
}

#mainContent{
  width:100%;
  height:calc(100vh - 50px);
  display:flex;
  flex-direction: column;
  position:relative;
}

#header{
  position:sticky;
  top:0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid rgb(240,240,240); 
  padding:5px 15px;
  background:white;
  z-index:1000;
}
#header span{
  display:flex;
  align-items: end;
  justify-content: space-between;
}
#header #mainTitle{
  width:200px;
}
#header #mainTitle h1{
  font-size:2rem;
  margin-bottom:0;
}
#header #userInfo{
  color:rgb(100,100,100);
}
#header #userInfo .userEmail{
  margin-left:10px;
}
#header .userSection{
  display:flex;
  align-items: center;
}
#logoutBtn{
  color: rgb(255, 63, 63);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 20px;
}
.contentArea{
  flex:1;
  padding:15px;
}

#tracker-tab-menu{
  display:flex;
  justify-content:flex-start;
  margin-top:10px;
  margin-bottom:20px;
}
.tracker-tab{
  border:2px solid #212529;
  text-align: center;
  background:transparent;
  color:#212529;
  padding:5px 10px;
  cursor:pointer;
}
.tracker-tab-active{
  background:#212529;
  color:white;
}

.tracker-tab:first-of-type{
  border-radius:10px 0 0 10px;
}
.tracker-tab:last-of-type{
  border-radius: 0 10px 10px 0;
}
#topic-filter-section{
  display:flex;
  flex-wrap: wrap;
}

.topic-filter{
  text-align: center;
  padding:2px 10px;
  background:white;
  color: #212529;
  border:1px solid rgb(150,150,150);
  border-radius:20px;
  cursor:pointer;
  margin:5px;
}
.topic-filter:hover{
  border-color:#212529;
}

.topic-filter-active{
  background:#212529;
  color:white;
}

#search-problem-input{
  margin-left:10px;
}

.password-label, .password-label span{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.password-label small{
  margin-left:5px;
}

#popup-wrapper{
  display:none;
  width:100%;
  position:absolute;
  bottom:50px;
  left:0;
  justify-content: center;
  align-items: center;
  z-index:9999;
}

#ack-popup{
  border-radius:10px;
  padding:10px;
  max-width:80%;
  min-width: 35%;
  text-align: center;
}
#protectedPage{
  display:flex;
  height:100vh;
  width:100%;
}

#sideBar{
  display:flex;
  flex-direction:column;
  width:40px;
  height:100%;
  align-items: center;
  transition: width 0.5s;
  justify-content: space-between;
  background:rgb(30,30,30);
  color:white;
  padding-top:50px;
  overflow:hidden;
}
#sideBar:hover{
  width: 200px;
}
#sideBar > div{
  text-align:center;
}
#sideBar > div > div > span{
  display:none;
  transition: display 1s;
}
#sideBar:hover > div > div > span{
  display:block;
  text-wrap:nowrap;
}
#sideNavWrapper{
  flex:1;
}
.sideNav{
  display:flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  
}
.sideNav svg{
  margin-top:2px;
  margin-right: 5px;
}
.sideNav-active, .sideNav-active>svg>path{
  color:rgb(50, 160, 255);
}
.problemAction{
  display:flex;
  justify-content: space-evenly;
}
.problemAction > *{
  cursor:pointer;
  font-size: 16px;
  color:red;
}
#filterToggle{
  /* border:1px solid; */
}
.filterToggleBtn{
  cursor:pointer;
  color:rgb(0, 110, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterToggleBtn > span{
  margin-right:10px;
}
#hideFilterToggleBtnWrapper{
  position:absolute;
  right:20px;
  z-index:10;
}
#filterArea{
  background:rgb(245,245,245);
  padding:10px;
  border-radius:10px;
}
#filterArea *{
  font-size:14px;
}
.filterAreaHidden{
  display:none;
}
.difficultyFilter button, .statusFilter button,
.difficultyFilter button:hover, .statusFilter button:hover{
  border: 1px solid rgb(150, 150, 150)
}
#difficultyFilterOptions button, #statusFilterOptions button{
  background:white;
}
#difficultyFilterOptionEasy:hover{
  border-color:green;
  color:green;
}
#difficultyFilterOptionEasy.active{
  background:green;
  border-color:green;
  color:white;
}
#difficultyFilterOptionMedium:hover{
  border-color:orange;
  color:orange;
}
#difficultyFilterOptionMedium.active{
  background:orange;
  border-color:orange;
  color:white;
}
#difficultyFilterOptionHard:hover{
  border-color:red;
  color:red;
}
#difficultyFilterOptionHard.active{
  background:red;
  border-color:red;
  color:white;
}
#statusFilterOptionSolved:hover{
  border-color:green;
  color:green;
}
#statusFilterOptionSolved.active{
  background:green;
  border-color:green;
  color:white;
}
#statusFilterOptionRevise:hover{
  border-color:orange;
  color:orange;
}
#statusFilterOptionRevise.active{
  background:orange;
  border-color:orange;
  color:white;
}
#statusFilterOptionUnsolved:hover{
  border-color:red;
  color:red;
}
#statusFilterOptionUnsolved.active{
  background:red;
  border-color:red;
  color:white;
}
#flagFilter{
  background:white;
  border: 1px solid rgb(150, 150, 150);
}
#flagFilter:hover{
  color:rgb(0, 110, 255);
  border-color:rgb(0, 110, 255);
}
#flagFilter.active{
  background:rgb(0, 110, 255);
  color:white;
  border-color:rgb(0, 110, 255);
}
#resetFilterBtn{
  margin-left:auto;
}
#filterInfo *{
  font-size:small;
}
#filterInfo b {
  color:rgb(100,100,100);
}
#myProblemListInfo{
  display:flex;
  align-items: center;
}
#myProblemListInfo div{
  margin: 0 5px;
  color:rgb(150,150,150);
}
#myProblemListInfo div:first-of-type{
  margin-left:0;
}
#myProblemListInfo .infoBox{
  border:1px solid;
  padding:0 10px;
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
#myProblemListInfo .infoBox.black{
  color:black;
}
#myProblemListInfo .infoBox.green{
  color:green;
}
#myProblemListInfo .infoBox.orange{
  color:orange;
}
#myProblemListInfo .infoBox.red{
  color:red;
}
#myProblemListInfo .infoBox span{
  font-size:small;
  font-weight:bold;
  margin:2px;
}
#dataTableWrapper{
  flex:1;
  overflow:auto;
}
.dataTable thead{
  position:sticky;
  top:0;
  background-color: rgb(50,50,50);
}
.dataTable thead th{
  color:white;
}
tr.problem{
  height:60px;
}
.checkboxDropdown{
  position:relative;
}
.dropdownBox{
  position:absolute;
  width:100%;
  border:1px solid rgb(150,150,150);
  border-radius:5px;
  display:none;
  padding:5px;
  background:white;
  z-index:1000;
  max-height:50vh;
  overflow-y:auto;
  box-shadow: 0 24px 25px 5px rgb(200, 200, 200);
}
.dropdownBox-visible{
  display:block;
}
.checkboxDropdownOption{
  padding:5px;
  display:flex;
  align-items: start;
}
.checkboxDropdownOption:not(:last-of-type){
  border-bottom:1px solid rgb(200,200,200)
}
.checkboxDropdownOption:hover{
  background:rgb(240,240,240);
}
.checkboxDropdownOption input{
  margin-top:7px;
}
.checkboxDropdownOption label{
  width:100%;
  padding-left:5px;
}
/* Multi Text Area */
.titleWrapper{
  display:flex;
}
.titleBtn{
  padding:5px;
  border:none !important;
  max-width:20%;
  cursor:pointer;
  text-align:center;
  margin:0 5px;
  background:rgb(240,240,240);
  border-radius:5px;
  font-size:small;
}
.titleBtn:first-of-type{
  margin-left:0;
}
.titleBtnSelected{
  border-bottom:none !important;
  background:rgb(100,100,100);
  color:white;
}
.addTextAreaIcon{
  background:rgb(0, 110, 255);
  color:white;
  padding:5px;
  border-radius:5px;
  width:15%;
  margin-left:auto;
  cursor:pointer;
  text-align:center;
  font-size:small;
}
.dataWrapper{
  display:flex;
  flex-direction: column;
  border:1px solid rgb(150,150,150);
  border-radius:5px;
  padding:5px 10px;
}
.dataTitle{
  display:flex;
  align-items:center;
}
.dataTitle label{
  font-size:small;
  font-weight:bold;
  color:rgb(150,150,150);
}
.dataTitle input{
  font-size:small;
  font-weight:bold;
}
.titleField{
  border:none !important;
  outline:none;
  margin-left:10px;
  border-bottom:1px solid rgb(200,200,200) !important;
  flex:1;
}
.dataField{
  border:none !important;
  border-radius:0 0 5px 5px;
  margin-top:10px;
  padding-right:10px;
  outline:none;
}
.trashIconWrapper{
  height:25px;
  display:flex;
  align-items: center;
}
.trashIcon{
  margin-left:auto;
  cursor:pointer;
}
.dataTable .Easy, .dataTable .Solved{
  color:green;
  font-weight:bold;
}
.dataTable .Medium, .dataTable .Revise{
  color:orange;
  font-weight:bold;
}
.dataTable .Hard, .dataTable .Unsolved{
  color:red;
  font-weight:bold;
}
.dataTable .notProvided{
  color:rgb(150,150,150);
  font-style:italic;
}
.dataTable .problem-item{
  cursor:pointer;
  transition:background 0.3s;
}
.dataTable .problem-item:hover{
  background:rgb(220, 230, 253);
}
.topicTab{
  font-size:small;
  width:fit-content;
  padding:5px 10px;
  border-radius:20px;
  margin:5px;
  background:rgb(240,240,240);
  display:flex;
  align-items: center;
  justify-content: center;
}
.dataTable .topicTab{
  font-size:12px;
  padding:3px 7px;
}
.dataTable .topicTab:first-of-type{
  margin-left:0;
}
.dataTable .platformIconWrapper{
  width:50px;
}
.dataTable .platformIcon{
  width:30px;
}
.dataTable .problemStatement{
  color:rgb(0, 110, 255);
  text-align: left;
  display:flex;
  align-items: center;
  padding: 0 5px;
}
.dataTable .problemTopics{
  display:flex;
  padding: 0 5px;
}
#myProblemList{
  display:flex;
  flex-direction:column;
  height:calc(100vh - 200px);
}
.fieldName{
  font-size:small;
  font-weight:bold;
  color:rgb(100,100,100);
}
#loader{
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
#loader p{
  font-weight:bold;
  color:rgb(220,220,220);
}
#empty-table-placeholder{
  padding:20px;
  color:rgb(150,150,150);
}
.modal-body{
  display:flex;
  padding:0;
  height:86vh;
}
.modal-side-nav{
  width:130px;
  background:rgb(0, 110, 255);
}
.modal-side-nav div{
  color:white;
  padding:10px 20px;
  cursor:pointer;
  height:70px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.modal-side-nav-active{
  background:rgba(255,255,255,0.2);
}
.modal-main-area{
  padding:10px;
  flex:1;
}
.modal-head-content{
  display:flex;
  flex-wrap: wrap;
}
.modal-head-btn{
  background:rgb(240,240,240);
  padding:5px 10px;
  border:none;
  border-radius:5px;
  margin:5px;
}
.modal-head-btn-active{
  background:rgb(0, 110, 255) !important;
  color:white;
}
.modal-main-area-content{
  padding:10px 5px;
}
.modal-title{
  font-weight:bold;
  font-size:large;
}
.modal-date{
  color:rgb(150,150,150);
}
.modal-note{
  font-size:15px;
}
.modal-info{
  max-height:75vh;
  overflow-x:hidden;
  padding-right:5px;
  overflow-y:auto;
}
.modal-content{
  overflow:hidden;
}
#popup-close-msg{
  position:absolute;
  bottom:-22px;
  color:white;
  font-weight:bold;
}
.editor-row{
  height:calc(100vh - 350px);
}
.problemInfo{
  border-radius:5px;
  overflow:hidden;
  flex:1;
  height:calc(100vh - 150px);
  padding:0;
}
.problemEditorWrapper{
  border-radius:5px;
  overflow:hidden;
  padding:10px;
  margin-left:10px;
  flex:1;
  /* border:1px solid rgb(200, 200, 200); */
  height:calc(100vh - 150px);
}
.editorLabel{
  font-size:small;
  font-weight:bold;
  background:rgb(240,240,240);
  margin-bottom:10px;
  margin-right:10px;
  cursor:pointer;
  width:100px;
  text-align: center;
  padding:5px;
  border-radius:5px;
}
.activeEditorLabel{
  color:rgb(0, 110, 255);
  background: rgba(0, 110, 255, 0.1);
}
.codeEditorWrapper{
  overflow:auto;
  height:calc(100vh - 210px);
  border:1px solid rgb(150,150,150);
  border-radius:10px;
}
.codeEditor{
  border:none !important;
  outline:none;
}
/* .textEditor .ql-editor{
  height:calc(100vh - 255px);
}
.ql-container.ql-snow{
  border:1px solid rgb(150,150,150) !important;
  border-top:none !important;
  border-radius: 0 0 5px 5px;
}
.ql-toolbar.ql-snow{
  border:1px solid rgb(150,150,150) !important;
  border-radius:5px 5px 0 0;
}
.textEditor-disabled .ql-editor{
  height:auto;
}
.textEditor-disabled .ql-container.ql-snow{
  border:none !important;
} */
#selectedTopics{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  max-height:calc(100vh - 595px);
  overflow:auto;
}
#selectedTopics .topicTab{
    font-weight:bold;
    cursor:pointer;
}
#selectedTopics .topicTab span{
  margin-left:10px;
}
#problemEditorDisabled .topicTab{
  background:black;
  color:white;
}
#problemEditorDisabled .problemDetails{
  width:100%;
  height:calc(100vh - 350px);
  overflow-x:hidden;
  overflow-y:auto;
  border-bottom: 1px solid rgb(200,200,200);
  padding-right:10px;
  padding-bottom:10px;
}
#problemEditorDisabled .topicsWrapper{
  display:flex;
  flex-wrap: wrap;
  position:relative;
  left:-5px;
}
#problemEditorDisabled .descriptionWrapper{
  padding-right:10px;
  color:rgb(100,100,100);
  width:100%;
}
#problemEditorDisabled .difficultyWrapper, #problemEditorDisabled .statusWrapper{
  display:flex;
  flex-direction: column;
  align-items:start;
  justify-content: center;
  width:fit-content;
}
#problemEditorDisabled .difficultyWrapper small, #problemEditorDisabled .statusWrapper small{
  margin-bottom:2px;
  font-size:small;
  color:rgb(100,100,100);
}
#problemEditorDisabled .difficultyWrapper span, #problemEditorDisabled .statusWrapper span{
  padding:5px 10px;
  border-radius:10px;
  color:white;
}
#problemEditorDisabled .difficultyWrapper span.Easy, #problemEditorDisabled .statusWrapper span.Solved{
  background-color: green;
}
#problemEditorDisabled .difficultyWrapper span.Medium, #problemEditorDisabled .statusWrapper span.Revise{
  background-color: orange;
}
#problemEditorDisabled .difficultyWrapper span.Hard, #problemEditorDisabled .statusWrapper span.Unsolved{
  background-color: red;
}
#problemEditorDisabled .difficultyWrapper span.notProvided, #problemEditorDisabled .statusWrapper span.notProvided{
  color:rgb(150,150,150);
  border:1px solid rgb(150,150,150);
}
#problemEditorEnabled{
  padding-left: 0;
  padding-bottom:10px;
}
#problemEditorEnabled #descriptionInput{
  height:250px;
}
#solution-modal .iconbtn{
  cursor:pointer;
}
/* TEXT EDITOR */
#problemForm #textEditorEnabled .codex-editor{
  height:calc(100vh - 210px);
}
#solution-modal #textEditorEnabled .codex-editor{
  min-height:calc(100vh - 500px);
}
#textEditorEnabled .codex-editor{
  border: 1px solid rgb(150,150,150);
  border-radius:10px;
}
#textEditorEnabled .codex-editor__redactor, #textEditorDisabled .codex-editor__redactor{
  padding-bottom:50px !important;
}
#textEditorEnabled .ce-block__content, #textEditorEnabled .ce-toolbar__content,
#textEditorDisabled .ce-block__content{
  max-width:85% !important;
}
#textEditorUpdateButton{
  margin:20px 0;
}